<nav class="mb-4 navbar navbar-expand-lg navbar-dark bg-dark">
<div class="container">
  <a class="navbar-brand" href="/">Wedding App</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item mr-3">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item mr-3">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
    </ul>
  </div>
      <form class="form-inline my-2 my-lg-0">
      <a href="/login" class="btn btn-light my-2 my-sm-0 mr-3" type="submit">Login</a>
      <a href="/register" class="btn btn-light my-2 my-sm-0" type="submit">Register</a>
    </form>
  </div>
</nav>
