<h1>Get in touch with us!</h1>
<form action='/contact' method='POST'>
  <div class="form-group">
    <label for="exampleInputName1">Name</label>
    <input type="text" class="form-control" id="exampleInputName1" aria-describedby="nameHelp" placeholder="Enter name" required>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
  </div>
  <div class="form-group">
    <label for="exampleInputSubject">Subject</label>
    <input type="text" class="form-control" id="exampleInputSubject" aria-describedby="subjectHelp" placeholder="Enter a subject" required>
  </div>
  <div class="form-group">
    <label for="exampleInputMessage">Message</label>
    <textarea type="textarea" rows="5" class="form-control" id="eexampleInputMessage" aria-describedby="messageHelp" placeholder="Enter your message" required></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
