<div class="jumbotron jumbotron-fluid bg-white">
  <div class="container">
    <h1 class="display-4">Login!</h1>
    <p>Please use one of the following methods to Login</p>
    <a class="btn btn-lg text-light" href="#" style="background:#3b5998">Facebook</a>
    <a class="btn btn-lg text-light" href="#" style="background:#DB4437">Google</a>
  </div>
</div>
